body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body div {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

body > div {
    background-size: 100% 100%;
    display: none;
}

body > div > div > div {
    display: none;
}

div {
    outline:0;
}
div::selection{
    background: none;
    outline: 0;
    border:0;
}

.audio {
    position: fixed;
    top: 1%;
    right: 2%;
    width: 40px;
    height: 40px;
    z-index: 3;
    background-image: url(../image/music.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}

#cover {
    padding-top: 30%;
    background-color: #f8f8f8;
    z-index: 1;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    display: block;
}

#start {
    background-image: url("../image/f1bg1.jpg");
}

#game {
    background-image: url("../image/f2bg1.jpg");
    background-size: 100% auto;
}

#success {
    background-image: url("../image/f3bg1.jpg");
}

#fail {
    background-image: url("../image/f4bg1.jpg");
    background-size: 100% auto;
}

#sharelay {
    background: url(../image/arrow.png) no-repeat center top rgba(0, 0, 0, 0.5);
    background-size: 100% auto;
    z-index: 4;
    display: none;
}

#f1p1 {
    top: 12%;
    height: 18%;
    background-image: url("../image/f1p1.png");
}

#f1p2 {
    top: 35%;
    height: 33%;
    background-image: url("../image/f1p2.png");
}

#f1p3 {
    top: 87%;
    height: 10%;
    background-image: url("../image/f1p3.png");
}

#f1p4 {
    top: 89%;
    height: 8%;
    background-image: url("../image/f1p4.png");
}

#f1p4 div {
    position: absolute;
    width: 33%;
    height: 100%;
    display: block;
}

#level1 {
    left: 0;
}

#level2 {
    left: 33%;
}

#level3 {
    left: 66%;
}

#f2p1 {
    top: 75%;
    height: 16%;
}

#f2p1_1 {
    background-image: url("../image/f2p1_1.png");
}

#f2p1_2 {
    background-image: url("../image/f2p1_2.png");
}

#f2p1_3 {
    background-image: url("../image/f2p1_3.png");
}

#f2p1_4 {
    background-image: url("../image/f2p1_4.png");
}

#f2p2 {
    top: 0%;
    height: 11%;
    z-index: 1;
    background-image: url("../image/f2p2.png");
    background-size: 100% 100%;
}

#f2p3 {
    top: 1%;
    left: 50%;
    width: 10%;
    height: 6%;
    z-index: 2;
    background-image: url("../image/f2p3.png");
}

#f2p4,
#f2p5 {
    top: 0%;
    height: 100%;
}

#f2p4_1 {
    background-image: url("../image/f2p4_1.png");
    background-size: 100% 100%;
}

#f2p4_2 {
    background-image: url("../image/f2p4_2.png");
    background-size: 100% 100%;
}

#f2p4_3 {
    top: 73%;
    height: 16%;
    background-image: url("../image/f2p4_3.png");
}

#f2p5_1 {
    margin-left: -50%;
    width: 200%;
    height: 120%;
    transform-origin: center;
    background-image: url("../image/f2p5_1.jpg");
    background-size: cover;
}

#f2p5_2 {
    background-image: url("../image/f2p5_2.png");
}

#f2p5_3 {
    background-image: url("../image/f2p5_3.png");
}

#f2p5_4 {
    background-image: url("../image/f2p5_4.png");
}

#f3p1 {
    top: 45%;
    height: 4%;
    background-image: url("../image/f3p1_1.png");
}

#f3p2 {
    top: 72%;
    height: 8%;
    background-image: url("../image/f3p2.png");
}

#f3p3 {
    top: 86%;
    height: 6%;
    background-image: url("../image/f3p3.png");
}

#f3p3 div,
#f4p3 div {
    display: block;
}

#f4p1 {
    top: 11%;
    height: 11%;
    background-image: url("../image/f4p1.png");
}

#click {
    top: 10.5%;
    left: 54%;
    width: 13%;
    height: 5%;
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
    color: white;
}

#f4p2 {
    top: 29%;
    height: 39%;
    background-image: url("../image/f4p2.png");
}

#f4p3 {
    top: 86%;
    height: 6%;
    background-image: url("../image/f4p3.png");
}

.share {
    position: absolute;
    left: 0;
    width: 40%;
    height: 100%;
}

.again {
    position: absolute;
    left: 40%;
    width: 60%;
    height: 100%;
}

.bounceindown {
    -webkit-animation: bounceInDown 1s linear 0s 1 alternate;
}

.bounceinup {
    -webkit-animation: bounceInUp 1s linear 0s 1 alternate;
}

.bounceoutdown {
    -webkit-animation: bounceOutDown 1s linear 0s 1 alternate;
}

.flash {
    -webkit-animation: flash 3s linear 1s infinite alternate;
}

.zoomin {
    -webkit-animation: zoomIn 1s ease 0s 1 normal;
}

@-webkit-keyframes bounceInDown {
    0%, 60%, 75%, 90%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }
    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }
    100% {
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes bounceInUp {
    0%, 60%, 75%, 90%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }
    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes bounceOutDown {
    20% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }
    40%,
    45% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, 2000px, 0);
        transform: translate3d(0, 2000px, 0);
    }
}

@-webkit-keyframes flash {
    0%, 50%, 100% {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0.7;
    }
}

@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    50% {
        opacity: 1;
    }
}